:root {
	--pile-size: 0.75rem;
}

.pile {
	width: var(--pile-size);
	height: var(--pile-size);
	min-width: var(--pile-size);
	min-height: var(--pile-size);
	border-radius: 1rem;
}

.pile.success {
	background: linear-gradient(180deg, #339874 0%, #0A7063 100%);
	box-shadow: 0px 0px 0px 3px rgba(10, 112, 99, 0.3);
}

.pile.primary {
	background: linear-gradient(180deg, #0CBAC5 0%, #015B77 100%);
	box-shadow: 0px 0px 0px 3px rgba(12, 186, 197, 0.3);
}

.pile.danger {
	background: linear-gradient(180deg, #DE6C2C 0%, #A62F14 100%);
	box-shadow: 0px 0px 0px 3px rgba(222, 108, 44, 0.3);
}