.year-option-input {
	height: var(--base-input-height);
}

.year-option-input_item {
	color: var(--base-gray);
	cursor: pointer;
	font-size: theme("fontSize.sm");
	display: flex;
	align-items: center;
    padding: calc(var(--base-spacing) * 0.2) calc(var(--base-spacing) * 0.8);
    border-top: 1px solid var(--base-border-color);
    border-bottom: 1px solid var(--base-border-color);
    border-left: 1px solid var(--base-border-color);
    font-weight: 500;
    position: relative;
    width: 33.33%;
}

.year-option-input_item.active {
	color: white;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
		linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
	border-color: rgba(255, 255, 255, 0.1)

}

.year-option-input_item:last-child {
    border-right: 1px solid var(--base-border-color);
    border-top-right-radius: calc(var(--base-radius) * 2);
    border-bottom-right-radius: calc(var(--base-radius) * 2);
}

.year-option-input_item:first-child {
    border-top-left-radius: calc(var(--base-radius) * 2);
    border-bottom-left-radius: calc(var(--base-radius) * 2);
}