.select-input * {
    color: theme("colors.gray.500");
}

.select-input #react-select-5-placeholder {
    color: theme("colors.gray.500");
}

.select-input [class$="singleValue"] {
	color: white;
}

.select-input [class$="ValueContainer"] {
	background-color: transparent;
}

.select-input [class$="control"] {
	background-color: transparent;
}