.mutation-label {
	color: var(--white-theme-color1);
}

.mutation-label.primary {
	background: var(--Success1);
}

.mutation-label.primary * {
	color: var(--Success10);
}

.mutation-label.danger {
	background: rgba(222, 108, 44, 0.1);
}

.mutation-label.danger * {
	color: var(--Alert10);
}

.mutation-label.warning {
	background: var(--Alert1);
}

.mutation-label.warning * {
	color: var(--warning-theme-color);
;

}