:root {
	--white-theme-color: rgba(205, 251, 255, 1);
	--warning-theme-color: rgba(255, 209, 121, 1);
	--primary-theme-color: #00191b;
	--base-danger: rgba(222, 108, 44, 1);
	--base-primary: rgba(8, 189, 213, 1);
	--base-border-theme-color: rgba(205, 251, 255, 0.06);
	--gray-theme-color: rgba(205, 251, 255, 0.6);
	--dark-gray-theme-color: #2b3e40;
	--mute-theme-color: rgba(223, 244, 246, 0.6);
	--background-card-color: linear-gradient(0deg, rgba(205, 251, 255, 0.06), rgba(205, 251, 255, 0.06));
	--base-bg5: rgba(205, 251, 255, 0.02);
	--base-bg3: rgba(205, 251, 255, 0.06);
	--base-bg4: #CDFBFF0A;
	--Gray1: rgba(205, 251, 255, 0.1);
	--Gray6: rgba(205, 251, 255, 0.60);
	--Gray2: rgba(223, 244, 246, 0.60);
	--Gray3: rgba(205, 251, 255, 0.06);
	--Gray4: rgba(223, 244, 246, 0.10);
	--Gray10: #CDFBFF;
}