.bg-base-bg2 {
	background: radial-gradient(100% 120.05% at 50% 50%, rgba(205, 251, 255, 0.00) 33.78%, rgba(205, 251, 255, 0.04) 100%, rgba(205, 251, 255, 0.00));

}

.text-gray-theme {
	color: var(--gray-theme-color);
}

.text-gray6 {
	color: var(--Gray6);
}

.text-gray2 {
	color: var(--Gray2);
}

.text-white-theme-color {
	color: var(--white-theme-color);
}

.bg-base-bg5 {
	background: var(--base-bg5);
}

.bg-base-bg4 {
	background: var(--base-bg4);
}

.bg-base-bg3 {
	background: var(--base-bg3);
}

.border-base-bg3 {
	border-color: var(--base-bg3);
}

.border-t-1 {
	border-top-width: 1px;
}

.border-r-1 {
	border-right-width: 1px;
}

.border-r-2 {
	border-right-width: 2px;
}

.border-gray1 {
	border-color: var(--Gray1);
}

.border-gray6 {
	border-color: var(--Gray6);
}