.costing-summary-card_label {
	border-radius: var(--base-radius);
}

.costing-summary-card_label.primary {
	background: linear-gradient(180deg, #0CBAC5 0%, #015B77 100%);
}

.costing-summary-card_label.danger {
	background: linear-gradient(180deg, #DE6C2C 0%, #A62F14 100%);
}

.costing-summary-card_label.success {
	background: linear-gradient(180deg, #CB52F5 0%, #7A04C2 100%);
}

.costing-summary-card_body.primary {
	
}

.costing-summary-card_body {
	
}