:root {
	--checkbox-size: 1rem;
}

.checkbox-input_control {
	width: var(--checkbox-size);
	min-width: var(--checkbox-size);
	height: var(--checkbox-size);
	min-height: var(--checkbox-size);

	border: 1px solid var(--base-border-color);
	border-radius: var(--base-radius);

	background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
		linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));

}