.member-overview-card{
	border: 1px solid var(--base-border-color);
    border-radius: var(--base-card-radius);
    overflow: hidden;
}

.member-overview-card {
    width: 100%;
    border-radius: var(--base-card-radius);
}

.content-card_2nd-layer {
    border-radius: calc(var(--base-card-radius) * 0.7);
}
.content-card_header {
    background: var(--base-linear-gradient);
}