@tailwind base;
@tailwind components;
@tailwind utilities;

/* ### Typography & Input ### */
.body-2-500 {
  @apply text-base not-italic font-medium leading-6 tracking-[-0.16px];
}

.caption-1-400 {
  @apply text-sm not-italic font-normal leading-5 tracking-[-0.14px];
}

.checkbox {
  @apply w-[16px] h-[16px] mr-[6px] rounded border border-solid border-[rgba(223,244,246,0.10)] checked:bg-blue-800 checked:border-0;
}
/* ### Typography ### */

:root {
  --c-checkbox: rgba(223, 244, 246, 0.06);
  --c-white-theme-color: rgba(205, 251, 255, 1);
  --c-warning-theme-color: rgba(255, 209, 121, 1);
  --c-primary-theme-color: #00191b;
  --c-base-danger: rgba(222, 108, 44, 1);
  --c-base-primary: rgba(8, 189, 213, 1);
  --c-base-border-color: rgba(205, 251, 255, 0.06);
  --c-gray-theme-color: rgba(205, 251, 255, 0.6);
  --c-dark-gray-theme-color: #2b3e40;
  --c-mute-theme-color: rgba(223, 244, 246, 0.6);
  --c-background-card-color: linear-gradient(
    0deg,
    rgba(205, 251, 255, 0.06),
    rgba(205, 251, 255, 0.06)
  );
  --c-base-bg5: rgba(205, 251, 255, 0.02);
  --c-base-bg4: rgba(205, 251, 255, 0.04);
  --c-base-bg3: rgba(205, 251, 255, 0.06);
  --c-base-bg2: radial-gradient(
      100% 120.05% at 50% 50%,
      rgba(205, 251, 255, 0) 33.78%,
      rgba(205, 251, 255, 0.04) 100%
    ),
    rgba(205, 251, 255, 0);
  --c-gray1: rgba(205, 251, 255, 0.1);
  --c-gray2: rgba(205, 251, 255, 0.2);
  --c-gray3: rgba(205, 251, 255, 0.06);
  --c-gray4: #cdfbff66;
  --c-gray6: rgba(205, 251, 255, 0.6);
  --c-gray7: rgba(223, 244, 246, 0.02);
  --c-gray8: rgba(210, 250, 255, 0.2);
  --c-gray9: rgba(223, 244, 246, 0.1);
  --c-gray10: #cdfbff;
  --c-success1: rgba(43, 205, 185, 0.1);
  --c-success2: rgba(43, 205, 185, 0.2);
  --c-success10: #2bcdb9;
  --c-alert1: rgba(255, 140, 103, 0.1);
  --c-alert2: rgba(255, 140, 103, 0.2);
  --c-alert6: #ff8c6799;
  --c-alert10: #ff8c67;
  --c-bar-color: linear-gradient(270deg, #07b7ac 0%, #087981 100%);
  --c-rank-color: #ffd179;
  --c-rank-bg-color: rgba(255, 209, 121, 0.1);
  --c-gray0: rgba(223, 244, 246, 1);
  --c-dot-blue: rgba(7, 183, 172, 1);
  --c-dot-blue1: rgba(7, 183, 172, 0.5);
  --c-dot-blue2: rgba(7, 183, 172, 0.3);
  --c-danger-medium: rgba(255, 140, 103, 1);
  --c-bg-button-color: linear-gradient(
    30deg,
    rgba(7, 183, 172, 0.1),
    rgba(8, 121, 129, 0.1)
  );
  --c-border-button-color: linear-gradient(
    30deg,
    rgba(7, 183, 172, 1),
    rgba(8, 121, 129, 1)
  );
  --c-dot-blue-border: rgba(7, 183, 172, 0.2);
}

body {
  background: radial-gradient(
      156.62% 152.5% at 100% 2.34%,
      #002f2d 0%,
      rgba(0, 22, 25, 0) 60.5%
    ),
    radial-gradient(
      132.48% 101.02% at -1.42% 79.69%,
      #002f2d 0%,
      rgba(0, 22, 25, 0) 83.07%
    ),
    #001619;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 60px;
}
