@tailwind base;
@tailwind components;
@tailwind utilities;

/* ### Typography & Input ### */
.body-2-500 {
	@apply text-base not-italic font-medium leading-6 tracking-[-0.16px];
}

.caption-1-400 {
	@apply text-sm not-italic font-normal leading-5 tracking-[-0.14px];
}

.checkbox {
	@apply w-[16px] h-[16px] mr-[6px] rounded border border-solid border-[rgba(223,244,246,0.10)] checked:bg-blue-800 checked:border-0;
}
/* ### Typography ### */

body {
	background: radial-gradient(156.62% 152.5% at 100% 2.34%, #002F2D 0%, rgba(0, 22, 25, 0.00) 60.5%), radial-gradient(132.48% 101.02% at -1.42% 79.69%, #002F2D 0%, rgba(0, 22, 25, 0.00) 83.07%), #001619;
	background-repeat: no-repeat;
  background-attachment: fixed;
	background-position: center;
	padding-bottom: 60px;
}
